.Radio {
  text-align: center;
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  font-family: 'poppins';
}

/* So that background visualizer is visible */
#transparent {
  opacity: 1;
}

.audio_visual {
  width: 100%;
  height: 100%;
}


.add {
  width: 75 px;
  height: 40px;
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-family: inherit;
  font-size: large;
  transition: all ease-in .2s;
  cursor: pointer;
}

.add:hover {
  background-color: #000;
  color: #fff;
}

.added {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: default;
}

#next {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  transition: all ease-in .2s;
  cursor: pointer;
}

#next:hover {
  background-color: #000;
  color: #fff;
}
